body {
    background-color: #181818;
}

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.container {
    flex-direction: column;
    display: flex;
    align-items: center;
}