body {
    background-color: #181818;
}

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    flex-direction: column;
    display: flex;
    align-items: center;
}